html,
body {
    height: 100%;
}

#wrap {min-height: 100%; height: auto; margin: 0 auto -40px; padding: 0 0 40px;}

#footer {height: 40px; padding: 10px 15px; background-color: #f5f5f5;}

.navbar-right{margin-right: 0 !important;}
.nav-layout{background-color: #fcf8e3}

.container-fluid{margin-left: 0; margin-right: 0;}

fieldset{margin-bottom: 40px;}
